/*Propiedad Jose Cáceres*/

header {
    text-align: center;
    color: white;
    background-image: url(/img/fondopagina.jpeg);
    margin: 2%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0%;
    margin-top: 0%;
    font-weight: bold;
    
}

header a {
    margin: 0% 5%;
    
}

header a:visited {
    color: white;
}

header a:link {
    color: white;
}

header a:link:hover {
    
}
header a:visited:hover {

}