/*Propiedad Jose Cáceres*/


body {
    background-image: url("/img/fondo.jpg");
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  header {
    background-image: url("/img/fondo.jpg");
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 20px 20px 20px 20px;
    position: sticky;
    z-index: 1;
    border-radius: 4px;
    top:0%;
    left:0%;
    display: block;
  }

  header a{
    color: white;
    font-weight: bold;
    padding-left: 7%;
    margin-left: 6%;
    font-size: 27px;
  }

  header a:hover{
    font-size: 40px;
    color: black;
  }

  .barraizquierda {
    background-image: url("/img/fondo.jpg");
    float: left;
    height: 500px;
    margin-top: 100px;
    width: 15%;
    color: white;
  }

.barraizquierda:visited {
  color: white;
}

li a {
  color: white;
  font-weight: bold;
  font-size:25px;
}
li a:visited {
  color: white;
  font-weight: bold;
  font-size:25px;
}

.cualidades1 {
    border: 1px solid white;
    border-radius: 50px;
    font-size: 0.8em;
    float: left;
    padding: 70px;
    margin-top: 30px;
    text-align: center;
    width: 55%;
    color: white;
    font-size: 45px;
    margin-left: 5%;
    
}

.cualidades1 > p {
    margin-top: 1px;
}

.cualidades1 > a {
    margin-top: 75px;
}

.cualidades1 > video {
    margin-top: 75px;
}


.barraderecha {
  float: left;
  margin-top: 4%;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-left: 5%;
  font-size: 21px;
  width: 15%;

}

.img {
  width: 250px;
  height: 250px;
  padding-left: 15%;
}

.img:hover {
  width: 300px;
  height: 300px;
}

footer {
  background-image: url("/img/fondo.jpg");
  position: sticky;
  z-index: 1;
  border-radius: 4px;
  bottom:0%;
  left:0%;
  clear: both;
  padding: 20px;
  display: block;
  color: white;

}

aside h1{
  text-align: center;
}

.aw {
  margin-bottom: 30px;
  font-size: 25px;
  list-style-type: "👩🏻‍💻 ";
}

.hobbies {
  font-size: 145%;
  text-align: center;
}

.fotofooter {
  width: 50px;
  height: 50px;
}

.colocacionfooter {
  display: inline;
  padding-left: 25%;
}


.enlacedocu {
    color: white;
}

.enlacedocu:visited {
    color: white;
}

.yo {
    width: 700px;
    height: 450px;
}

.tonterias {
    margin-bottom: 50px;
}

.texto {
  text-align: center;
  text-decoration: underline;
  text-transform:uppercase;
  text-shadow: 10cap;
  font-weight: bold;
  font-style: italic;
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}