/*Propiedad Jose Cáceres*/


body {
    background-image: url("/img/fondo.jpg");
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  header {
    background-image: url("/img/fondo.jpg");
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: 20px 20px 20px 20px;
    position: sticky;
    z-index: 1;
    border-radius: 4px;
  }

  header a{
    color: white;
    font-weight: bold;
    padding-left: 7%;
    margin-left: 6%;
  }