/*Propiedad Jose Cáceres*/


*{
    background-image: url("/img/fondopagina.jpeg");
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
}

.links:hover{
    color: black;
}
.links:hover:visited{
    color: black;
}
.links:visited {
    color: white;
}

.links{
    text-transform: uppercase;
    font-weight:bolder;
    font-size: 25px;
    color: white;
}

.banner{
    background-color: red;
    
}